## Base16 Gruvbox light, hard
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

set $base00 #{{- .color.base00 }}
set $base01 #{{- .color.base01 }}
set $base02 #{{- .color.base02 }}
set $base03 #{{- .color.base03 }}
set $base04 #{{- .color.base04 }}
set $base05 #{{- .color.base05 }}
set $base06 #{{- .color.base06 }}
set $base07 #{{- .color.base07 }}
set $base08 #{{- .color.base08 }}
set $base09 #{{- .color.base09 }}
set $base0A #{{- .color.base0A }}
set $base0B #{{- .color.base0B }}
set $base0C #{{- .color.base0C }}
set $base0D #{{- .color.base0D }}
set $base0E #{{- .color.base0E }}
set $base0F #{{- .color.base0F }}
